# backend
./backend/.pnpm-store
./backend/.vscode
./backend/node_modules
./backend/.gitignore
./backend/Dockerfile-api
./backend/README.md

# mongodb
./mongodb/Dockerfile-mongodb

# docker
.dockerignore
docker-compose.yml
LICENSE
Makefile

# git
.gitattributes
.gitignore
.git