# backend
./backend/.pnpm-store
./backend/.vscode
./backend/node_modules
./backend/README.md

# docker
.dockerignore
docker-compose.yml
Dockerfile-api
Dockerfile-mongodb
LICENSE
Makefile

# root
.gitattributes
.gitignore
.git