# backend
./backend/.vscode
./backend/node_modules
./backend/.gitattributes
./backend/.gitignore
./backend/package-lock.json
./backend/README.md
./backend/yarn-error.log

# docker
.dockerignore
docker-compose.yml
Dockerfile
LICENSE
Makefile